<div class="mt-4">
  <h4>{{this.burger_name}}</h4>

  <!--Devour me button-->
  <button class="devour btn btn-primary" data-id="{{this.id}}" data-newdevour="{{this.devour}}">
    Devour me
  </button>
</div>