<div class="mt-4">
  <h4 class="text-success">{{this.burger_name}}<button class="devour btn btn-danger text-white float-right" data-id="{{this.id}}" data-newdevour="{{this.devour}}">Devour me</button></h4>
</div>